extends layout

block extraHeader
    link(rel='stylesheet', href='/stylesheets/karapax_career.css')

block content
    header
        .container
            .row
                .col-md-8.col-md-offset-2.text-right
                    h1 We are looking for YOU!

    section#career
        .container
            .row
                .col-md-12
                    h1 Marketing
                    p If you are:
                    ul
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                .col-md-12
                    hr
                    h1 Marketing
                    p If you are:
                    ul
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                .col-md-12
                    hr
                    h1 Marketing
                    p If you are:
                    ul
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                        li XXXXXXXXXXXXXXXXXXXXXXXX
block extraScript
    script( src='/javascripts/karapax.js' )