extends layout
//load karapax_career.css
block extraHeader
    link(rel='stylesheet', href='/stylesheets/karapax_career.css')

block content
    include includes/navbar
    // header image, and text in title
    header
        .container
            .row
                .col-md-8.col-md-offset-2.text-right
                    h3 加入我们，
                    h1 让家触手可及
    // career list
    section#career
        .container
            .row
                .col-md-12
                    h1 Marketing
                    p If you are:
                    ul
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                .col-md-12
                    hr
                    h1 Marketing
                    p If you are:
                    ul
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                .col-md-12
                    hr
                    h1 Marketing
                    p If you are:
                    ul
                        li XXXXXXXXXXXXXXXXXXXXXXXX
                        li XXXXXXXXXXXXXXXXXXXXXXXX
//load karapax_home.js
block extraScript
    script( src='/javascripts/karapax_career.js' )