// Created by yucunli on 2015-04-22.
extends layout

block content
    section#career
        header.header
            .container
                .row
                    .col-md-8.col-md-offset-2.text-right
                        h1 We are looking for YOU!

        .container
            .career-list
                .row
                    .col-md-12
                        h1 Marketing
                        p If you are:
                        ul
                            li XXXXXXXXXXXXXXXXXXXXXXXX
                            li XXXXXXXXXXXXXXXXXXXXXXXX

                .row
                    .col-md-12
                        hr
                        h1 Marketing
                        p If you are:
                        ul
                            li XXXXXXXXXXXXXXXXXXXXXXXX
                            li XXXXXXXXXXXXXXXXXXXXXXXX
                .row
                    .col-md-12
                        hr
                        h1 Marketing
                        p If you are:
                        ul
                            li XXXXXXXXXXXXXXXXXXXXXXXX
                            li XXXXXXXXXXXXXXXXXXXXXXXX