extends layout

block extraHeader
    link(rel='stylesheet', href='/stylesheets/karapax_home.css')


block content


    // div on the top of the screen, "how it works", the procedure of using website
    div#how-it-works.hide
        div.how-it-works-section.panel-babu-muted.panel-contrast.page-container-responsive.overlay
            a.panel-close(href='#')
            div.page-container-responsive
                div.row.row-space-top-2




    header
        .container
            .row
                .col-md-8.col-md-offset-2.text-center
                    h1.title 家，就在不远处
                    p.title 多样化租房选择，便捷化租房体验，让寻房不再难
                    // link to the "how it works" div
                    a#how-it-works-btn.btn.btn-default(href='#') How it works

    section#apartments
        .container
            .row
                .col-lg-8.col-lg-offset-2.apartments-section-heading
                    h2 我们的公寓
            .row
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 1
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/kitchen.jpg', alt='')
                    h5 apartment 2
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/livingroom.jpg', alt='')
                    h5 apartment 3
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 4
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 5
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 6

    #apartment-pic-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='apartment-pic-ModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-body
                img.img-responsive#apartments-img(src='', alt="image")

    section#gap
        .container
            .row
                h1 Wellcome to our amazing Karapax!
                h3 Vision

    section#about
        .container
            .row.space
                .col-md-12
                    h2 About Us
            .row.space
                .col-md-12
                    p.
                        成立于加拿大蒙特利尔，Karapax 是一个专属于海外游子的租房平台。
                        无论你在国内还是国外，一切繁琐的租房程序由我们承担。以可靠的房源，多样的租房选择，人性化的网站，
                        我们致力于为用户打造最便捷称心的租住体验。
            .row.space
                .col-md-12
                    p 我们承诺：
                    ul.list-unstyled
                        li 安心：以万分承诺，慎选房源，免除你的后顾之忧。
                        li 精心：以千条标准，精挑细选，找到你心目中的家。
                        li 省心：从找房到入住，你的工作，我们完成。
                        li 称心：地点？环境？家具？设施？你的需求，我们满足。

block extraScript
    script( src='/javascripts/karapax.js' )