extends layout

block content
    include includes/header
        
    section#apartments
        .container

    section#gap
        .container
            .row
                h1 Wellcome to our amazing Karapax!
                h3 Vision

    section#about
        .container

