extends layout

block content
    include includes/header
        
    section#apartments
        .container
            .row
                .col-lg-8.col-lg-offset-2.apartments-section-heading
                    h2 我们的公寓
            .row
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 1
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 2
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 3
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 4
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 5
                .col-md-4.col-sm-6
                    img.img-responsive(src='images/bedroom.jpg', alt='')
                    h5 apartment 6
    #apartment-pic-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='apartment-pic-ModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-body
                img.img-responsive#apartments-img(src='', alt="image")

    section#gap
        .container
            .row
                h1 Wellcome to our amazing Karapax!
                h3 Vision

    section#about
        .container
            .row
                h2 About Us
                h4 We help you make better apartment service
                p.
                   asdjsld  fsdkfjsd sjdkflsja sfdakfsal
                   sadklfs dfs sd f sdf sd fa dfa  asdfasdadfa