extends layout

// call the karapax_home.css
block extraHeader
    link(rel='stylesheet', href='/stylesheets/karapax_home.css')


block content
    include includes/navbar

    //div for the sign up
    //div#sign-up.modal
        div.modal-table
            div.modal-cell
                div.signup.modal-content wtf


    // div on the top of the screen, "how it works", the procedure of using website
    div#how-it-works.hide
        div.how-it-works-section.panel-babu-muted.panel-contrast.page-container-responsive.overlay
            a.panel-close(href='#')
            div.page-container-responsive
                div.row.row-space-top-2



    // header image
    header
        .container
            .row
                .col-md-8.col-md-offset-2.text-center
                    h1.title 家，就在不远处
                    p.title 多样化租房选择，便捷化租房体验，让寻房不再难
                    // link to the "how it works" div
                    a#how-it-works-btn.btn.btn-default(href='#') How it works

    //apartment image list on home page
    section#apartments
        .container
            .row
                .col-lg-8.col-lg-offset-2.apartments-section-heading
                    h2 我们的公寓
            .row.text-center
                .col-md-4.col-sm-6.col-xs-12
                    .apt-image
                        a(href='./listing?id=1')
                            img.img-responsive(src='images/400sherbrooke1612br1.jpg', alt='').image-height
                            .price-image
                                span.h6.price-span-top $
                                span.h4 1650
                                span.h6.price-span-top CAD
                .col-md-4.col-sm-6.col-xs-12
                    .apt-image
                        a(href='./listing?id=2')
                            img.img-responsive(src='images/1200stalexandre118br1.jpg', alt='').image-height
                            .price-image
                                span.h6.price-span-top $
                                span.h4 1650
                                span.h6.price-span-top CAD

                .col-md-4.col-sm-6.col-xs-12
                    .apt-image
                        a(href='./listing?id=3')
                            img.img-responsive(src='images/1200stalexandre220br1.jpg', alt='').image-height
                            .price-image
                                span.h6.price-span-top $
                                span.h4 1650
                                span.h6.price-span-top CAD

                .col-md-4.col-sm-6.col-xs-12
                    .apt-image
                        a(href='./listing?id=4')
                            img.img-responsive(src='images/2045bishop8br1.jpg', alt='').image-height
                            .price-image
                                span.h6.price-span-top $
                                span.h4 1650
                                span.h6.price-span-top CAD

                .col-md-4.col-sm-6.col-xs-12
                    .apt-image
                        a(href='./listing?id=5')
                            img.img-responsive(src='images/181placedyouville300br1.jpg', alt='').image-height
                            .price-image
                                span.h6.price-span-top $
                                span.h4 1650
                                span.h6.price-span-top CAD

                .col-md-4.col-sm-6.col-xs-12
                    .apt-image
                        a(href='./listing?id=2')
                            img.img-responsive(src='images/1200stalexandre118dd1.jpg', alt='').image-height
                            .price-image
                                span.h6.price-span-top $
                                span.h4 1650
                                span.h6.price-span-top CAD

    // controling the fade out animation when click on an image
    #apartment-pic-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='apartment-pic-ModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-body
                img.img-responsive#apartments-img(src='', alt="image")

    //useless section
    section#gap
        .container
            .row
                h1 Welcome to our amazing Karapax!
                h3 Vision v0.1

    //About us section
    section#about
        .container
            .row.space
                .col-md-12
                    h2 关于我们
            .row.space
                .col-md-12
                    p.
                        成立于加拿大蒙特利尔，Karapax 是一个专属于海外游子的租房平台。
                        无论你在国内还是国外，一切繁琐的租房程序由我们承担。以可靠的房源，多样的租房选择，人性化的网站，
                        我们致力于为用户打造最便捷称心的租住体验。
            .row.space
                .col-md-12
                    p 我们承诺：
                    ul.list-unstyled
                        li 安心：以万分承诺，慎选房源，免除你的后顾之忧。
                        li 精心：以千条标准，精挑细选，找到你心目中的家。
                        li 省心：从找房到入住，你的工作，我们完成。
                        li 称心：地点？环境？家具？设施？你的需求，我们满足。
// load karapax js
block extraScript
    script( src='/javascripts/karapax_home.js' )