doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description', content='Karapax provide the best concierge service for you')

        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    body
        include header
        block content

    include footer
    script( src='/bower_components/jquery/dist/jquery.min.js' )
    script( src='/bower_components/bootstrap/dist/js/bootstrap.min.js' )