//
   Created by Mia on 2015-05-04.

extends layout

block extraHeader
   link(rel='stylesheet', href='/stylesheets/karapax_listing.css')

block content
   section#listing-header
      .container
         .row
            .col-md-8.col-md-offset-2.text-center
               a#gallery-btn.btn.btn-default(href='#',data-toggle='modal', data-target='#apt-modal') View Gallery

   #apt-modal.modal(role='dialog')
      #apt-slides.carousel.slide(data-ride='carousel')
         ol.carousel-indicators
            li.active(data-target='#apt-slides', data-slide-to='0')
            li(data-target='#apt-slides', data-slide-to='1')
            li(data-target='#apt-slides', data-slide-to='2')
            li(data-target='#apt-slides', data-slide-to='3')
         .carousel-inner(role='listbox')
            .item.active
               img(src='images/bedroom.jpg',alt='')
               .carousel-caption
                  h3
            .item
               img(src='images/kitchen.jpg', alt='')
               .carousel-caption
                  h3
                  p
            .item
               img(src='images/bedroom.jpg', alt='')
               .carousel-caption
                  h3
                  p
          a.left.carousel-control(href='#apt-slides', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#apt-slides', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next

   section#apt-info
      .container
         .row
            .col-md-9
               .row
                  .col-md-9
                     h4.title Address : 2150 St.Mackay
               .row.text-center
                  hr.info
                  .col-md-9
                     .col-sm-4
                        i.fa.fa-bed.fa-3x
                        p bedrooms
                     .col-sm-4
                        i.fa.fa-bed.fa-3x
                        p bathrooms
                     .col-sm-4
                        i.fa.fa-calendar.fa-3x
                        p Avaliable
               .row.text-center
                  hr.info
                  .col-md-9
                     .col-sm-4
                        p DownTown
                     .col-sm-4
                        p Size : 100m^2
                     .col-sm-4
                        p Deposit : a month rent
               .row
                  hr
                  .col-md-9.col-sm-12
                     p Description
               .row
                  hr
                  .col-md-9.col-sm-12
                     p Amenities
               .row
                  hr
                  .col-md-12.col-sm-12
                     p Furniture description
               .row
                  hr
                  .col-md-12.col-sm-12
                     p Requirments
            .col-lg-3.col-md-12.col-sm-12
               p.fix-width lskdngwosdn
block extraScript
   script( src='/javascripts/karapax.js' )