#footer{
    background-color: #2D3037;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

#footer a{
    color: #ffffff;
}
#footer a:hover{
    color: #dca7a7;
}

.address{
    color: #dca7a7;
}

.social{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

i{
    margin-top: 4px;
    margin-right: 5px;
    width: 16px;
}

#footer p {
    text-align: center;
}