/*==========================================================*/
/*================= BOOTSTRAP OVERIDE ======================*/
/*==========================================================*/

#site-header .navbar-default {
    border-color: transparent;
    background: transparent;
    padding: 10px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

#site-header .top-nav-collapse{
    background-color: #2D3037;
    padding: 0;
}

#site-header a{
    color: white;
}

/*==========================================================*/
/*======================== FOOTER ==========================*/
/*==========================================================*/

footer {
    background-color: #2D3037;
    color: #ffffff;
    padding: 40px;
}

footer .fa {
    width: 32px;
    font-size: 14px;
}

footer li {
    margin-bottom: 10px;
}

/*==========================================================*/
/*========================= MEDIA ==========================*/
/*==========================================================*/
@media screen and (max-width: 767px) {
    #site-header .navbar-toggle{
        display: block;
    }
}