/*==========================================================*/
/*================= BOOTSTRAP OVERIDE ======================*/
/*==========================================================*/


/*==========================================================*/
/*===================== GENERAL LAYOUT =====================*/
/*==========================================================*/

/*==========================================================*/
/*========================= BODY ===========================*/
/*==========================================================*/
#apt-info{
    background-color: #d9edf7;
    margin-top: 60px;
}

#apt-info img{
    width: 100%;
}

#apt-info .title{
    margin-top: 40px;
    margin-bottom: 20px;
}

#apt-info .col-sm-4{
    width: 25%;
    float: left;
}


/*==========================================================*/
/*====================== HEADER ============================*/
/*==========================================================*/

/*==========================================================*/
/*======================== FOOTER ==========================*/
/*==========================================================*/

/*==========================================================*/
/*========================= MEDIA ==========================*/
/*==========================================================*/
@media (min-width: 768px) {
    #apt-info .col-md-9{
        width: 75%;
        float: left;
    }
}