/*==========================================================*/
/*================= BOOTSTRAP OVERIDE ======================*/
/*==========================================================*/

#site-header .navbar-default {
    border-color: transparent;
    background: transparent;
    padding: 10px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

#site-header .top-nav-collapse{
    background-color: #2D3037;
    padding: 0;
}

#site-header a{
    color: white;
}

/*==========================================================*/
/*===================== GENERAL LAYOUT =====================*/
/*==========================================================*/

/*==========================================================*/
/*========================= BODY ===========================*/
/*==========================================================*/

/*==========================================================*/
/*====================== HEADER ============================*/
/*==========================================================*/
header {
    min-height: 400px;
    background: url(../images/careers_header.jpg) no-repeat center;
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*==========================================================*/
/*======================== FOOTER ==========================*/
/*==========================================================*/

/*==========================================================*/
/*========================= MEDIA ==========================*/
/*==========================================================*/