/*==========================================================*/
/*================= BOOTSTRAP OVERIDE ======================*/
/*==========================================================*/

#site-header .navbar-default {
    border-color: transparent;
    background: transparent;
}

/*==========================================================*/
/*===================== GENERAL LAYOUT =====================*/
/*==========================================================*/

a {
  color: #00B7FF;
}


/*==========================================================*/
/*========================= BODY ===========================*/
/*==========================================================*/

body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    background: url(../images/site_background.jpg) no-repeat;
    background-size: cover;
}

/*==========================================================*/
/*====================== HEADER ============================*/
/*==========================================================*/

header {
    width: 100%;
    height: auto;
    background: url(../images/site_background.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*==========================================================*/
/*======================== APARTMENTS ======================*/
/*==========================================================*/

#apartments {
    background-color:#fff;
    height: 300px;
}

/*==========================================================*/
/*======================== GAP =============================*/
/*==========================================================*/

#gap {
    background-color:rgba(0,0,0,0.5);
    height: 200px;
}

/*==========================================================*/
/*======================== ABOUT ===========================*/
/*==========================================================*/

#about {
    background-color:#fff;
    height: 200px;
}

/*==========================================================*/
/*========================= MEDIA ==========================*/
/*==========================================================*/
@media(min-width:768px) {

}