/*==========================================================*/
/*================= BOOTSTRAP OVERIDE ======================*/
/*==========================================================*/

#site-header .navbar-default {
    border-color: transparent;
    background: transparent;
}

/*==========================================================*/
/*===================== GENERAL LAYOUT =====================*/
/*==========================================================*/

a {
  color: #00B7FF;
}


/*==========================================================*/
/*========================= BODY ===========================*/
/*==========================================================*/

body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*==========================================================*/
/*====================== HEADER ============================*/
/*==========================================================*/

header {
    min-height: 600px;
    padding: 100px 0;
    background: url(../images/site_background.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header h1 {
    color: #ffffff;
}

/*==========================================================*/
/*======================== APARTMENTS ======================*/
/*==========================================================*/

#apartments {
    background-color:#fff;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;

}

#apartments .apartments-section-heading {
    text-align: center;
    padding-bottom: 30px;
}

#apartments h5 {
    text-align: center;
    padding: 1em;
}

/*==========================================================*/
/*======================== GAP =============================*/
/*==========================================================*/

#gap {
    background-color:#2D3037;
    height: 200px;
    text-align: center;
    color: #ffffff;
}

/*==========================================================*/
/*======================== ABOUT ===========================*/
/*==========================================================*/

#about {
    background-color:#fff;
    height: 200px;
}

#about h4 {
    text-align: center;
}

/*==========================================================*/
/*========================= MEDIA ==========================*/
/*==========================================================*/
@media(min-width:768px) {

}