// Created by Mia on 2015-04-19.

footer
    .container
        .row
            .col-sm-4
                img.img-responsive(src='images/karapax_logo.png', alt="image")
            .col-sm-4
                h4 联系方式
                p.adr.clearfix
                    i.fa.fa-map-marker.pull-left
                    span.adr-group.pull-left
                        span.street-address 2150 St.Mackay
                        br
                        span.region Montreal, Quebec
                        br
                        span.postal-code H3G 2M2
                        br
                        span.country-name Cananda
                p.tel
                    i.fa.fa-phone
                    | +1 514 430 8601
                p.email
                    i.fa.fa-envelope-o
                    | karapax@karapax.com

            .col-sm-4
                h4 关注我们
                ul.list-unstyled
                    li
                        a(href='#')
                            i.fa.fa-wechat
                            | 微信
                    li
                        a(href='#')
                            i.fa.fa-weibo
                            | 微博
                    li
                        a(href='#')
                            i.fa.fa-facebook
                            | Facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                            | Twitter
        .row
            .col-md-12
                hr
                p.text-center Copyright © 2015 – Karapax