// Created by Mia on 2015-04-19.

#footer
    .container
        .row
            .col-sm-4
                img.img-responsive(src='images/bedroom.jpg' alt='')
            .col-sm-4
                h4 联系方式
                .address
                    p Sir George Williams Campus
                    p 1455 De Maisonneuve Blvd. W.
                    p Montreal, Quebec, Canada
                    p H3G 1M8
                p tel. 514-xxx-xxxx
                p email karapaxxxxxxxx
            .col-sm-4
                h4 关注我们
                ul.social
                    li.list-unstyled
                        span
                            i.fa.fa-wechat
                        a(href='#') &nbsp;WeChat
                    li.list-unstyled
                        span
                            i.fa.fa-weibo
                        a(href='#') &nbsp;Weibo
                    li.list-unstyled
                        span
                            i.fa.fa-facebook
                        a(href='#') &nbsp;Facebook
                    li.list-unstyled
                        span
                            i.fa.fa-twitter
                        a(href='#') &nbsp;Twitter
        .row
            .col-md-12
                hr
                p Copyright © 2015 – Karapax