// Created by Mia on 2015-04-19.

#footer
    .container
        .row
            .col-md-4
                h4 联系方式
                p tel. 514-xxx-xxxx
                p email karapaxxxxxxxxx
            .col-md-4
                h4 招才纳贤
                p 我们是很有前途和希望的团队啦啦啦，快点来加入我们啦啦啦～
            .col-md-4
                h4 关注我们
                ul.list-unstyled.text-center
                    li
                        a(href='#').fa-fw
                            i.fa.fa-wechat WeChat
                    li
                        a(href='#').fa-fw
                            i.fa.fa-weibo Weibo
                    li
                        a(href='#').fa-fw
                            i.fa.fa-facebook Facebook
                    li
                        a(href='#').fa-fw
                            i.fa.fa-twitter Twitter
        .row
            .col-md-12
                hr
                p Copyright © 2015 – Karapax