// Created by Mia on 2015-04-19.

#foot.footer
    #contain.container
        #r1.row
            #col1.col-md-4.div-colum
                h4 关于我们
                ul(class='unstyled list-layout')
                    li
                        p tel. 514-xxx-xxxx
                    li
                        p email karapaxxxxxxxxx
            #col2.col-md-4.div-colum
                h4 招聘
                p 我们是很有前途和希望的团队啦啦啦，快点来加入我们啦啦啦～
            #col3.col-md-4.div-colum
                h4 关注我们
                ul(class='list-layout list-inline')
                    li
                        a(href='#' class='social social-facebook') Facebook
                    li
                        a(href='#' class='social social-facebook') Facebook
                    li
                        a(href='#' class='social social-facebook') Facebook
                    li
                        a(href='#' class='social social-facebook') Facebook
