// Created by yucunli on 2015-04-21.

header
    .container
        .row
            .col-md-8.col-md-offset-2.text-center
                h1 欢迎回家
                a.btn.btn-default(href='#apartments') click
